node_modules
.vscode
README.md
docs
.env
keys.js
.instalar
auth_tokens


//primera vez
echo "# whatsappserver" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Quetur/whatsappserver.git
git push -u origin main

git remote add origin https://github.com/Quetur/whatsappserver.git
git branch -M main
git push -u origin main